
<h1>タスク一覧</h1>
<button type="button" class="btn btn-warning">
<%= link_to 'タスク新規作成', new_task_path, :style=>"color:white;"%>
</button>
<div class="">
<%= form_tag(tasks_path, :method => 'get' ) do %>
<%= label_tag :title, "タイトル" %>
<%= text_field_tag :title, params[:title] %>
<%= label_tag :status, "ステータス" %>
<%= select_tag :status, options_for_select(Task.statuses), include_blank: true %>
<%= submit_tag '絞り込み'%>
<% end %>
</div>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>タイトル
      </th>
      <th>内容</th>
      <th>優先順位</th>
      <th>終了期限</th>
      <th>状態</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= task.rank %></td>
        <td><%= task.deadline %></td>
        <td><%= task.status %></td>
        <td><%= link_to '詳細', task %></td>
        <td><%= link_to '編集', edit_task_path(task) %></td>
        <td><%= link_to '削除', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>

  </tbody>
</table>
<button type="button" class="btn btn-primary">
<%= link_to "終了期限でソートする", tasks_path(sort_expired: "true" ), :style=>"color:white;"%>
</button>
<button type="button" class="btn btn-success">
<%= link_to "優先順位でソートする", tasks_path(sort_rank: "true"), id: "id_name", :style=>"color:white;"%>
</button>
<br>
<%= paginate @tasks%>
